
.solutions {
    margin-top : 20px;
    padding: 20px;
    background: #ccc;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.allDisplayedPlanks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background: #ccc;
}


.plankContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    background: #ccc;
    width: 95%;
}

.plankContainer h3 {
    font: 20px Calibri;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}


qty {
    font: 20px Calibri
}


plank {
    height: 50px;
    width: 80%;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: #966f33;
    border-radius: 5px;
}

cut {
    width: 20%;
    height: 38px;
    background: #6e470b;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #461f00;
    margin: 4px;
    border-radius: 2px;

    font: 12px Calibri;
    transition: font-size .3s;
}

cut:hover {
    font-size: 20px;

}

.resultContainer
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px 0;
    border: 2px solid #000;
    padding: 20px 0;
}

stats {
    font: 20px Calibri;
    margin: 0;
    padding: 0;
    background: #999;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
}

.top-header
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 50%;
    margin: 5px 25%;
    align-content: center;
    align-items: center;
    text-align: center;
}

stats * {
    margin: 0;
    padding: 0;
}




